{# templates/sales/create.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Create Sales{% endblock %}

{% block body %}
    <h1>Create New Sale</h1>

    {{ form_start(form) }}
        {{ form_row(form.department) }}
        {{ form_row(form.amount) }}
        {{ form_row(form.date) }}
        <button type="submit">Create</button>
    {{ form_end(form) }}
{% endblock %}
